/vendor
/node_modules
/public/uploads
/public/hot
/public/storage
/storage/*.key
Homestead.yaml
Homestead.json
.env
.idea
composer.sublime-workspace
drop_all_tables.sql
integration-UTT.sublime-project
integration-UTT.sublime-workspace
site.sh
storage/debugbar
storage/qrcodes/
storage/trombi-phones/
.phpunit.result.cache
npm-debug.log
yarn-error.log
/storage/oauth-*
