<?php

// Move this file to .env.{local|production}.php

return [
    // Database credentials.
    'DATABASE_CONNECTIONS_MYSQL_HOST'     => 'localhost',
    'DATABASE_CONNECTIONS_MYSQL_DATABASE' => 'integration',
    'DATABASE_CONNECTIONS_MYSQL_USERNAME' => 'root',
    'DATABASE_CONNECTIONS_MYSQL_PASSWORD' => '',

    // https://etu.utt.fr API credentials.
    'SERVICES_ETUUTT_CLIENT_ID' => '',
    'SERVICES_ETUUTT_CLIENT_SECRET' => '',

    // WEI prices.
    'WEI_PRICES_REGISTRATION' => 50,
    'WEI_PRICES_DEPOSIT'      => 60,
    'WEI_DATES_START'         => '2015-09-04 00:00:00'
];
