html {
    margin:0;
    padding:0;
    //background: url("/img/background.jpg") black no-repeat center top !important;
    background-image: url("/img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    background-size:cover;
}

body {
    background: none !important;
}

a.btn {
    margin:2px;
    padding:10px;
    box-shadow: 6px 6px 6px black;
}

.container {
    position: relative;
    margin-top: 150px;
    padding-top: 50px; 
}

.container h1 {
    color: #252525;
    text-shadow: 2px 2px 2px white;
}

.container p {
    color: #252525;
    font-size: medium;
}

.sponsor {
    margin-top:250px;
    color: #fff;
}

.sponsor img {
    margin:20px;
    max-height:50px
}

@media screen and (max-height: 700px) {
    html {
        background-position: center -190px !important;
    }

    .container {
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px) {

    .container {
        padding-top: 0px;
    }
}
