html {
    margin:0;
    padding:0;
    background-image: url("/img/home-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #000000;
    background-size:100%;
}

body {
    background: none !important;
}

a.btn {
    margin: 2px;
    padding: 10px;
    box-shadow: 4px 4px 4px black;
    font-size: 2em;
}

.container {
    position: relative;
    margin-top: 22%;
    padding-top: 50px;
}

.container p {
    color: #252525;
    font-size: medium;
}

.container .btn-primary {
    background-color: #E5B502;
    color: black;
}

.container .btn-primary:hover {
    background-color: #C09402;
}

.sponsor {
    margin: 3% auto 0 auto;
    color: #fff;
    width: 65%;
}

.sponsor img {
    margin:20px;
    max-height:70px
}

@media screen and (max-width: 1600px) {
    .container {
        margin-top: 20%;
    }
    .sponsor {
        margin-top: 0;
    }
    .sponsor img {
        max-height:50px
    }
}

@media screen and (max-width: 1200px) {
    .sponsor {
        margin-top: 18%;
    }
}

@media screen and (max-width: 850px) {
    .container {
        margin-top: 16%;
    }
    a.btn {
        font-size: 1em;
    }
    .sponsor {
        margin-top: 18%;
    }
}

@media screen and (max-width: 600px) {
    .container .btn-primary {
        margin-bottom: 25%;
    }
    .sponsor {
        margin-top: 0%;
        background-color: #E5A9B4;
    }
}

@media screen and (max-width: 400px) {
    .container {
        margin-top: 8%;
    }
    .container .btn-primary {
        margin-bottom: 25%;
    }
}
