html {
  margin:0;
  padding:0;
  background: url("/img/background.jpg") no-repeat center fixed !important;
  -webkit-background-size: cover;
  background-size: cover;
}

body {
    background: none !important;
}
