#student_autocomplete_container {
    margin-bottom: 0px;
}

#student_autocomplete_matches_container {
    margin-bottom: 15px;
}

#student_autocomplete_matches {
    padding: 10px;
    border: 1px solid #d2d6de;
    border-radius: 2px;
    display: none;
    margin-bottom: 15px;
    height: 100px;
    overflow-y: scroll;
    background-color: #FAFAFA;
}

.autocomplete_student {
    padding-bottom: 10px;
    position: relative;
}

.autocomplete_select, .autocomplete_remove {
    position: absolute;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.autocomplete_remove {
    color: red;
}
