
/* Admin dashboard - Student list */
table.trombi img {
	height: 50px;
}

table.trombi > tbody > tr > td {
	height: 50px;
	vertical-align: middle;
}

/* Student menu */
a.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Volunteer profil */
.convention-well {
	text-align: justify;
	font-family: "Courier New", Courier, monospace;
}

.text-field {
	padding-top:8px;
}
