
/* Admin dashboard - Student list */
table.trombi img {
	height: 50px;
}

table.trombi > tbody > tr > td {
	height: 50px;
	vertical-align: middle;
}

/* Student menu */
/*.panel {
	text-align: center;
}*/
